PORT=5000
MONGO_URI=mongodb+srv://tailorarena:tailorarena123@tailorarena.s4oqr3l.mongodb.net/tailorarena?retryWrites=true&w=majority&appName=tailorarena
JWT_SECRET=tailor_arena_secret_key_2024

RAZORPAY_KEY_ID=rzp_test_SoUAUBoXovNda0
RAZORPAY_KEY_SECRET=mr1Z0mjuLe1G82Id2fN3iIP7

PHONEPE_MERCHANT_ID=PGTESTPAYUAT86
PHONEPE_SALT_KEY=96434309-7796-489d-8924-ab56988a6076
PHONEPE_SALT_INDEX=1
PHONEPE_API_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/pay
PHONEPE_STATUS_URL=https://api-preprod.phonepe.com/apis/pg-sandbox/pg/v1/status

EMAIL_USER=tailors12345678@gmail.com
EMAIL_PASS=ejfelhaocpqzethx
FRONTEND_URL=http://localhost:5173
WHATSAPP_PHONE_ID=1371484266037867
WHATSAPP_TOKEN=EAA0tvCZBTqEcBSdFVBRzoEOAo2fuG7qLMxCH5tJdd99RZCaMF4QSpUh2nwx0g9gkIAz4HaSibKvwDddtoZCeJsWVecNMcUmZABwe2OA0AY0k2HKsLVPgENpP8ZAduGaBl0U2IkagtmAHoaVTvZBsaYVjHrpQUo1F2bYNKlXwORbyughFBjFZB03YnZBZC1TIiNZAJiMQlRvcUpTGaoFYkn49cKkigltPYvfOzITkfBxw0W2voG379N0tBpqM4UGCkKYBy67tMVUOHDtqOjApTAJqZBFwNtQ
